:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#app {
  width: 100%;
  min-width: 500px;
  overflow: hidden;
  border-radius: 0.75rem; /* Match the rounded-xl class in the main container */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Add subtle shadow to the entire popup */
}

/* Add any custom styles that Tailwind doesn't cover */
